<!DOCTYPE html>
<html>
        <body>
        <h1>  This Is The Todo Page    of {% now "Y-m-d" %} </h1>
        <ul>
        {% for todo_item in all_items  %}
            <li> {{ forloop.counter }}- {{ todo_item.content }} 
            <form action ="/doneTodo/{{ todo_item.id }}/" 
                        style="display: inline;"
                        method="post">{% csrf_token %}
                <input type='submit' value='完成'/>
            </form>

            <form action ="/deleteTodo/{{ todo_item.id }}/" 
                        style="display: inline;"
                        method="post">{% csrf_token %}
                <input type='submit' value='刪除'/>
            </form>
                    <br> {{  todo_item.create_time |date:'Md H:m'  }} (創建時間) <br>

                 {{ todo_item.get_rating_display }}  <br>
                 預計時間:{{ todo_item.runtime}} hrs<br>
            <form action ="/editTodo/{{ todo_item.id }}/" 
                        method="post">{% csrf_token %}
                <input type='submit' value='編輯'/>
                <input type='text' name='content'/>
            </form>

            <form action ="/updateTodo/{{ todo_item.id }}/" 
                        method="post">{% csrf_token %}
                <input type='submit' value='更新'/>
                <input type='text' name='content'/>
            </form> </li>
                {% empty %}
                    <li>No Todo items yet</li>
                {% endfor %}
        </ul>
        <hr>
        <p>Using https?
                {{ request.is_secure|yesno }}
        </p>

        <ul>
        <form action ="/addTodo/" method="post">{% csrf_token %}
            <input type='submit' value='添加'/>
            <input type='text' name='content'/>
        </form>
        </ul>

        <p>

        <li> <a href = "{% url 'done' %}" >已經完成</a> </li>
<li> <a href = "{% url 'bin' %}" >回收站</a> </li>
</p>


        </body>
</html>