<!DOCTYPE html>
<html>

<head>
<style>
body {
  color: orangered;

  background-color: #ffffe0;
}
p.dashed {border-style: dashed;}
p.groove {border-style: groove;}
p.outset {border-style: outset;}
div {
  height: 25px;
  width: 100px;
  background-color: powderblue;
}

h1 {
  color: palevioletred;
  text-align: center;
}
input {
  color: purple;
}
span.ridge {border-style: ridge;}

span{
  color: blue;
  text-align: center;
}
</style>
</head>
        <body>
        <h1>  This Is The Todo Page    of {% now "Y-m-d" %} </h1>
        <ul>
        {% for todo_item in page_obj  %}

        <span class= 'text-right'>
             {{ forloop.counter }}- {{ todo_item.content }} 
        </span>
            <form action ="/doneTodo/{{ todo_item.id }}/" 
                        style="display: inline;"
                        method="post">{% csrf_token %}
                <input type='submit' value='完成'/>
            </form>

            <form action ="/deleteTodo/{{ todo_item.id }}/" 
                        style="display: inline;"
                        method="post">{% csrf_token %}
                <input type='submit' value='舍棄'/>
            </form>

                
            {% if  not todo_item.deadline and not todo_item.hours %}
                <br>
            {% else %}
                <br>
                  {{  todo_item.create_time |date:'Md H:m'  }} (創建時間) <br>
                 類型:{{ todo_item.get_rating_display }}  <br>
                 預計時間:{{ todo_item.deadline}} 天<br>
                 預計時間:{{ todo_item.hours}} hrs
                {% endif %}
                <br>
            <form action ="/editTodo/{{ todo_item.id }}/" 
                        method="post">{% csrf_token %}
                <input type='submit' value='編輯'/>
                <input type='text' name='content'/>
            </form>

            <form action ="/updateTodo/{{ todo_item.id }}/" 
                        method="post">{% csrf_token %}
                <input type='submit' value='更新'/>
                <input type='text' name='content'/>
            </form> </li>
                {% empty %}
                    <li>No Todo items yet</li>
                {% endfor %}
        </ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>





        <ul>
        <form action ="/addTodo/" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type='submit' value='添加'/>
            <input type='text' name='content'/>
            {{ form.as_p }}

        </form>
        </ul>

        <p>

        <li> <a href = "{% url 'create' %}" >添加Todo_List</a> </li>
        <li> <a href = "{% url 'done' %}" >已經完成事件</a> </li>
<li> <a href = "{% url 'bin' %}" >已舍棄任務</a> </li>
</p>


        </body>
</html>