<!DOCTYPE html>
<html>
        <body>
        <h1>  This Is The Todo Page    of {% now "Y-m-d" %} </h1>
        <ul>
        {% for todo_item in page_obj  %}
             {{ forloop.counter }}- {{ todo_item.content }} 
             <br>
            <form action ="/doneTodo/{{ todo_item.id }}/" 
                        style="display: inline;"
                        method="post">{% csrf_token %}
                <input type='submit' value='完成'/>
            </form>

            <form action ="/deleteTodo/{{ todo_item.id }}/" 
                        style="display: inline;"
                        method="post">{% csrf_token %}
                <input type='submit' value='刪除'/>
            </form>
                
                <div class='text-right'>
                 <li> {{  todo_item.create_time |date:'Md H:m'  }} (創建時間) </li>
                 <li>{{ todo_item.get_rating_display }}  </li>
                 <li>預計時間:{{ todo_item.deadline}} 天</li>
                 <li>預計時間:{{ todo_item.hours}} hrs</li>
                 </div>
            <form action ="/editTodo/{{ todo_item.id }}/" 
                        method="post">{% csrf_token %}
                <input type='submit' value='編輯'/>
                <input type='text' name='content'/>
            </form>

            <form action ="/updateTodo/{{ todo_item.id }}/" 
                        method="post">{% csrf_token %}
                <input type='submit' value='更新'/>
                <input type='text' name='content'/>
            </form> </li>
                {% empty %}
                    <li>No Todo items yet</li>
                {% endfor %}
        </ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>



        <ul>
        <form action ="/addTodo/" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type='submit' value='添加'/>
            <input type='text' name='content'/>
            {{ form.as_p }}

        </form>
        </ul>

        <p>

        <li> <a href = "{% url 'create' %}" >添加Todo</a> </li>
        <li> <a href = "{% url 'done' %}" >已經完成</a> </li>
<li> <a href = "{% url 'bin' %}" >回收站</a> </li>
</p>


        </body>
</html>